.div1{
    background-color:orange;
    height: 32vh;
    width: 100vw;
}
.div2{
    background-color:white;
    height: 31vh;
    width: 100vw;
}
.div3{
    background-color:green;
    height: 32vh;
    width: 100vw;
}